<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample API</title>
</head>
<body>
  <h1>Sample Routes API</h3>
  <h4>/ping</h4>
  <p>Returns a status of 200 and an object containing success property: </p>
  <h4>/posts</h4>
  <p>Returns listing of all posts</p>
  <h4>/posts/:id</h4>
  <p>Returns all posts with the :id parameter</p>
  <h4>/posts/:id/comments</h4>
  <p>Returns all comments for post of :id</p>
  <h4>/comments</h4>
  <p>Returns all comments</p>
  <h4>/comments/:id</h4>
  <p>Returns comments with the :id parameter</p>
</body>
</html>